body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1c3435;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.icon {
  background-image: url("../img/icons.svg");
  width: 20px;
  height: 25px;
  display: inline-block;
}
.icon.addres {
  background-position: 0 -35px;
}

.btn {
  border: 1px solid #575757;
  padding: 5px 10px;
  border-radius: 5em;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  padding-right: 30px;
}
.btn.btn-more::before {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons.svg");
  background-position: -40px -35px;
}
.btn.color {
  background-color: #407677;
  color: #fff !important;
  border-color: #407677;
}
.btn.color::before {
  width: 25px;
  background-position: -55px -35px;
}
.btn.btn-none {
  padding-right: 5px;
  width: 30px;
  display: block;
}
.btn.btn-none::before {
  left: 0;
  margin: 0 auto;
}

.img {
  width: 100%;
}

.header {
  background-color: #407677;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 300;
  height: 80px;
  position: relative;
}
.header::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header .block {
  display: inline-block;
  vertical-align: middle;
}
.header .block .icon {
  padding-right: 5px;
}
.header .top_left li a {
  padding: 0 5px;
  text-decoration: none;
}
.header .top_left li a:hover {
  text-decoration: underline;
}
.header .addres {
  margin-left: 10px;
  vertical-align: bottom;
}
.header .logo {
  text-align: center;
  margin-top: -25px;
}
.header .lang_block {
  position: relative;
  margin: auto 25px;
}
.header .lang_block:hover ul {
  display: block;
}
.header .lang_block:hover ul li {
  border-radius: 5px;
}
.header .lang_block:hover ul li:hover {
  background-color: #575757;
}
.header .lang_block:hover ul li:hover a {
  color: #fff;
}
.header .lang_block .icon.lang {
  width: 30px;
  height: 25px;
  background-position: 0 0;
}
.header .lang_block ul {
  display: none;
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
}
.header .lang_block ul li {
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0;
}
.header .lang_block ul li a {
  text-decoration: none;
}
.header .lang_block ul li.active {
  background-color: #407677;
}
.header .lang_block ul li.active a {
  color: #fff;
  padding: 10px;
}
.header .serach_block {
  text-align: right;
}
.header .serach_block input[type=text] {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.header .mainMenu {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  padding: 25px;
  background-color: #000;
  height: 60px;
}
.header .mainMenu a {
  color: #fff;
  font-weight: 800;
}

.social_block .icon {
  width: 30px;
  height: 25px;
}
.social_block .icon a {
  display: block;
  width: 100%;
  height: 100%;
}
.social_block .in {
  background-position: 0 -75px;
}
.social_block .fb {
  background-position: -45px -75px;
}
.social_block .vk {
  background-position: -90px -75px;
}
.social_block .tw {
  background-position: -135px -75px;
}
.social_block .yt {
  background-position: -180px -75px;
}
.social_block .tg {
  background-position: -225px -75px;
}

.menu ul li {
  display: inline-block;
}
.menu ul li a {
  color: #fff;
  display: block;
  padding: 10px;
}

.top-slider {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;
  position: relative;
  overflow: hidden;
}
.top-slider::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  left: 0;
}
.top-slider .content {
  width: 40%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 4px #000;
}
.top-slider .content b {
  font-size: 44px;
}
.top-slider #background-video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#mmenu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #000;
}
#mmenu.active {
  display: block;
}
#mmenu a {
  color: #fff;
}
#mmenu ul {
  padding: 20px 0 0 20px;
  position: relative;
  width: 25%;
}
#mmenu ul li {
  display: block;
  font-size: 24px;
  padding: 25px 15px;
}
#mmenu ul li:hover {
  background-color: #222;
}
#mmenu ul li:hover > ul {
  display: block;
}
#mmenu ul li ul {
  display: none;
  top: 0;
  position: absolute;
  left: 100%;
  height: 100vh;
  width: 80%;
}
#mmenu ul li ul li {
  font-size: 16px;
  padding: 10px 15px;
}/*# sourceMappingURL=header.css.map */