body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-wrap {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  flex-direction: row;
}
.logo-wrap h1 {
  margin: 15px 0;
  font-size: 22px;
}
.logo-wrap h1 span {
  font-size: 16px;
  color: #287878;
}
.logo-wrap img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.content-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.content-wrap svg {
  width: 100%;
  height: auto;
}
.content-wrap .main-wrap {
  width: 80%;
  padding-left: 25px;
}
.content-wrap .map-wrap {
  display: none;
  width: 100%;
}
.content-wrap .guk-wrap {
  display: none;
  background-color: #fff;
}
.content-wrap .guk-wrap.show {
  display: block;
}
.content-wrap .uk-1-wrap {
  display: none;
}
.content-wrap .uk-1-wrap.show {
  display: block;
}

.b-wrap {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 25px;
}
.b-wrap svg {
  width: 100%;
  height: 100%;
}

.build-wrap {
  position: absolute;
  bottom: 11%;
  left: 26%;
  z-index: 5;
}

.rooms {
  cursor: pointer;
}
.rooms .on, .rooms .active {
  fill: #93c0f3;
}

.bg-map img {
  height: 100%;
}

.build {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.build:hover {
  fill: #93c0f3;
}

.floor-wrap {
  display: none;
  background-color: #f4f4f0;
}
.floor-wrap.show {
  display: block;
}
.floor-wrap .f-title {
  font-size: 28px;
  font-weight: bold;
  color: #93c0f3;
  text-transform: uppercase;
  padding: 5px 15px;
}

.left-wrap {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 15px #ddd;
  padding: 15px 0;
  position: relative;
}
.left-wrap.show {
  display: block;
}
.left-wrap .category-ul li {
  padding: 10px 15px;
  background-color: #f9f9f9;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
}
.left-wrap .category-ul li .title {
  display: flex;
  justify-content: space-between;
}
.left-wrap .category-ul li .title:hover {
  color: #287878;
}
.left-wrap .category-ul li span {
  border-radius: 5px;
  background-color: #93c0f3;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}
.left-wrap .category-ul li ul {
  display: none;
}
.left-wrap .category-ul li.active .title {
  color: #287878;
}
.left-wrap .category-ul li.active ul {
  display: flex;
}
.left-wrap .list-ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
.left-wrap .list-ul li {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #93c0f3;
  margin: 5px 5px 0 0;
  border-radius: 4px;
}
.left-wrap li.on {
  background-color: #287878;
  border-radius: 5px;
  color: #fff;
}

.floor-ul {
  width: 100%;
  display: none;
  text-align: center;
}
.floor-ul.show {
  display: flex;
}
.floor-ul li {
  color: #444;
  margin: 5px;
  width: 50px;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  display: inline-block;
}
.floor-ul li a {
  display: block;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  color: #000;
}
.floor-ul li a:hover {
  text-decoration: none;
  background-color: #93c0f3;
}
.floor-ul li.active a {
  background-color: #287878;
  color: #fff;
}

.btn-back {
  display: none;
  font-weight: bold;
  font-size: 18px;
}
.btn-back.show {
  display: block;
}

.popup {
  position: absolute;
  width: 280px;
  height: 200px;
  margin-top: -220px;
  background-color: #fff;
  box-shadow: 0 0 15px #ccc;
  padding: 15px;
  display: none;
  z-index: 100;
  border-radius: 5px;
}
.popup.show {
  display: block;
}
.popup .close {
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 15px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.popup .close:hover {
  background-color: #287878;
  color: #fff;
}
.popup .popup-wrap {
  position: relative;
}
.popup .popup-wrap::after {
  content: "";
  position: absolute;
  top: 185px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.popup .popup-wrap .title {
  font-size: 20px;
}
.popup .popup-wrap .title div {
  border-radius: 3px;
  color: #444;
  display: block;
  padding-bottom: 10px;
}
.popup .popup-wrap .title div.num {
  font-weight: 500;
  line-height: 1.2em;
}
.popup .popup-wrap .title div.tag {
  color: #287878;
  font-size: 18px;
}
.popup .popup-wrap .content {
  font-size: 16px;
}
.popup .popup-wrap .content p {
  margin: 0;
}

.point {
  position: relative;
  background: #287878;
  width: 25px;
  height: 25px;
  -webkit-backface-visibility: hidden;
}
.point::after {
  content: "";
  position: absolute;
  background: #287878;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.point:before {
  animation: wave-animate 3s infinite ease-out;
}

.point:after {
  opacity: 0;
  animation: wave-animate 3s 1.5s infinite ease-out;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    transform-origin: center;
  }
}
#enter-1.guk {
  top: 15.5rem;
  left: 49.5%;
}

#enter-2.guk {
  top: 86.5%;
  left: 50%;
}

#enter-1.uk {
  top: 24rem;
  left: 49.5%;
}

#enter-1.lib {
  top: 67%;
  left: 58%;
}

.po {
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  display: block;
}
.po:before, .po:after {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 2px solid #FF7474;
  border-radius: 50%;
  opacity: 0;
  background-visibility: hidden;
}
.po.active:before, .po.active:after {
  animation: animate 1.5s linear infinite;
}
.po.active:after {
  animation-delay: 0.5s;
}
.po a {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 10;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.result-search-list {
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px #ddd;
  border: #ddd;
  z-index: 100;
  text-align: left;
}
.result-search-list .result_item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}
.result-search-list .result_item:last-child {
  border-bottom: none;
}
.result-search-list .result_item a {
  color: #444;
  padding: 5px 15px;
}
.result-search-list .result_item a span {
  font-size: 12px;
  color: #8b8484;
  padding-left: 10px;
}

.mobile-wrap {
  display: none;
}
.mobile-wrap .icon {
  width: 28px;
}
.mobile-wrap .icon img {
  width: 100%;
}

.search-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-wrap .search {
  flex: 2;
}
.search-wrap .search input[type=text] {
  border: 1px solid #ff6900;
  padding: 10px;
}
.search-wrap .mobile-wrap {
  flex: 0;
}

.contact-wrap.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header-wrap {
    flex-wrap: wrap;
  }
  .header-wrap .logo-wrap {
    width: 50%;
    margin-bottom: 10px;
    order: 1;
  }
  .header-wrap .search-wrap {
    width: 100%;
    order: 3;
    text-align: center;
  }
  .header-wrap .search-wrap input[type=text] {
    width: 90%;
  }
  .header-wrap .contact-wrap {
    width: 50%;
    order: 2;
    text-align: right;
  }
  .mobile-wrap {
    display: block;
  }
  .left-wrap {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 10;
  }
  .contact-wrap.desktop {
    display: none;
  }
  .contact-wrap.mobile {
    display: block;
    text-align: center;
  }
  .popup {
    width: 150px;
    top: 25%;
  }
  .popup .popup-wrap .title {
    font-size: 15px;
  }
  .popup .popup-wrap .title div.tag {
    font-size: 14px;
  }
  .popup .popup-wrap .title div {
    padding-bottom: 5px;
  }
  .popup .popup-wrap .content {
    font-size: 12px;
  }
  .popup .popup-wrap::after {
    left: 50px;
  }
  .b-wrap {
    left: 0;
  }
  .floor-wrap .f-title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .header-wrap .logo-wrap {
    width: 100%;
  }
  .header-wrap .contact-wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
}/*# sourceMappingURL=map.css.map */