// @import "bourbon"

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1440px)
	.header
		.col-right
			text-align: right
		.lang_block
			margin-right: 0
		.logo
			img
				height: 100%
	.section
		&.sec-2 .block-wrap 
			.block h4
				font-size: 24px
		&.sec-4 
			.news-block-main .blocks 
				.block-left
					width: 70%
				.block-right
					width: 30%
			.news-block 
				.img
					width: 120px

	
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header
		height: auto
		.col-right
			text-align: left
		.logo
			margin-top: 0
	.top-slider
		min-height: 300px
		.content
			width: 90%
			top: 15%
	#mmenu
		overflow-x: scroll
		ul
			li
				display: block
				ul
					position: relative
					top: 0
					li
						width: 100%
						padding: 5px
	.section 
		.title
			font-size: 30px
		&.sec-2 
			.block-wrap 
				.block
					width: 100%
					height: 250px
					&:nth-child(3),&:nth-child(4)
						width: 100%
		// why qyzpu
		&.sec-3
			.blocks
				flex-wrap: wrap
		// news
		&.sec-4
			.blocks
				flex-wrap: wrap
				.left-side,.right-side
					width: 100%
				
		&.sec-5 
			.blocks 
				.block
					width: 100%
					&:first-child
						width: 100%
						a
							text-transform: none
							font-size: inherit
		&.sec-6
			.blocks
				.block
					width: 100%
	.footer 
		.b-right
			text-align: center


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

