// @import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
	margin: 0

.hidden
	display: none

ul
	list-style-type: none
	margin: 0
	padding: 0

a
	color: darken($accent, 20)
	text-decoration: none

.icon
	background-image: url('../img/icons.svg')
	width: 20px
	height: 25px
	display: inline-block
	&.addres
		background-position: 0 -35px
.btn
	border: 1px solid $gray
	padding: 5px 10px
	border-radius: 5em
	text-decoration: none
	font-size: 14px
	position: relative
	padding-right: 30px
	&.btn-more::before
		content: ''
		position: absolute
		right: 0
		width: 20px
		height: 20px
		background-image: url('../img/icons.svg')
		background-position: -40px -35px
	&.color
		background-color: $accent
		color: #fff!important
		&::before
			width: 25px
			background-position: -55px -35px

.img
	width: 100%

.header
	background-color: $accent 
	color: #fff
	padding: 15px 0
	font-size: 14px
	font-weight: 300
	height: 80px
	&::before
		content: ''
		display: inline-block
		vertical-align: middle
		// height: 100%
	.block
		display: inline-block
		vertical-align: middle
		.icon
			padding-right: 5px
	.top_left
		li a
			padding: 0 5px
			text-decoration: none
			&:hover
				text-decoration: underline
	.addres
		margin-left: 10px
		vertical-align: bottom
	.logo
		text-align: center
		margin-top: -25px
	.lang_block
		position: relative
		margin: auto 25px
		&:hover
			ul
				display: block
				li
					border-radius: 5px
					&:hover
						background-color: $gray
						a
							color: #fff
		.icon.lang
			width: 30px
			height: 25px
			background-position: 0 0
		ul
			display: none
			position: absolute
			// top: 30px
			background: #fff
			padding: 5px
			border-radius: 5px
			z-index: 5
			li
				display: block
				text-align: center
				border-radius: 5px
				margin: 5px 0
				a
					text-decoration: none
				&.active
					background-color: $accent
					a
						color: #fff
						padding: 10px
					
	.serach_block
		text-align: right
		input[type="text"]
			padding: 10px
			border-radius: 5px
			border: none
.social_block
	.icon
		width: 30px
		height: 25px
		a
			display: block
			width: 100%
			height: 100%
	.in
		background-position: 0 -75px
	.fb
		background-position: -45px -75px
	.vk
		background-position: -90px -75px
	.tw
		background-position: -135px -75px
	.yt
		background-position: -180px -75px
	.tg
		background-position: -225px -75px
.menu
	ul
		li
			display: inline-block
			a
				color: #fff
				display: block
				padding: 10px
.top-slider
	// background-image: url('../img/bg-header.jpg')
	background-repeat: no-repeat
	background-size: cover
	min-height: 500px
	position: relative
	overflow: hidden
	.content
		width: 40%
		position: absolute
		right: 15%
		bottom: 15%
		background: #fff
		padding: 15px
	#background-video
		object-fit: cover
		width: 100%
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1


