// @import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "../libs/css/bootstrap-grid.min.css"
@import "../libs/owlcarousel/owl.carousel.min.css"
@import "../libs/owlcarousel/owl.theme.default.min.css"
@import "../libs/animate/animate"
@import "../libs/mmenu/jquery.mmenu.css"
@import "../libs/bvi/bvi.min.css"

.container
	padding-left: 0
	padding-right: 0
	.row
		margin-left: 15px
		margin-right: 15px
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

.none
	display: none

.section
	z-index: 1
	background-color: #fff
	&.color
		background-color: $accent
		color: #fff
		.title
			color: #fff
	.title
		font-size: 40px
		font-weight: 500
		text-transform: uppercase
		color: $gray
		// font-family: 'Catallina'
		&.title-h
			border-bottom: 1px solid $lgray
			margin-bottom: 40px
	&.lcolor
		background-color: #E6ECEE
	&.sec-1
		padding: 45px 0 25px
	// programms

	.btn-more-link
		.arr-bg
			border: 1px solid #272A2D
			height: 45px
			width: 45px
			border-radius: 50%
			transform: rotate(45deg)
			.arrow
				position: absolute
				top: 22px
				left: 12px
				width: 40%
				height: 1px
				background-color: #000
				&::after, &::before
					content: ''
					position: absolute
					width: 50%
					height: 1px
					right: -2px
					background-color: #000
				&::after
					top: -3px
					transform: rotate(45deg)
				&::before
					top: 3px
					transform: rotate(-45deg)
	&.sec-2
		padding-bottom: 55px
		.title
			color: $gray
			padding: 35px 0
		.block-wrap
			display: flex
			flex-direction: row
			flex-wrap: wrap
			overflow: hidden
			.block
				height: 290px
				vertical-align: top
				overflow: hidden
				position: relative
				width: 25%
				transition: all .5s ease
				.b-content
					padding: 15px
					height: 100%
					display: flex
					flex-direction: column
				h4
					margin: 0
					font-size: 28px
					font-weight: 500
					a
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 50%
						// background: red
						padding: 15px
				ul
					margin-top: auto
					padding-bottom: 25px
					li
						padding: 5px 0
				.btn-more-link
					position: absolute
					right: 15px
					bottom: 15px
				.bg-prog
					position: absolute
					left: 0
					top: 0
					width: 100%
					&.h-text
						opacity: 0.1
				&:nth-child(1), &:nth-child(6)
					background-color: #272A2D
					color: #fff
					a
						color: #fff
					.btn-more-link
						color: #fff
						.arr-bg
							border-color: #fff
						.arrow
							background-color: #fff
							&::after, &::before
								background-color: #fff
						&::before
							filter: invert(100)
				&:nth-child(3), &:nth-child(4)
					width: 50%
				&:nth-child(3)
					transform: scale(1)
					background-color: $accent
				&:nth-child(4)
					background-color: $accent
					color: #fff
					a
						color: #fff
					.btn-more-link
						color: #fff
						.arr-bg
							border-color: #fff					
						.arrow
							background-color: #fff
							&::after, &::before
								background-color: #fff
				
	// why qyzpu
	&.sec-3
		padding: 45px 0
		.sec-desc
			width: 70%
			margin: 25px auto
			border-left: 4px solid $accent
			padding-left: 15px
		.blocks
			.block
				// background-color: #fff
				position: relative
				display: flex
				flex-direction: column
				padding: 55px 0
				.img-wrap
					width: 100%
					overflow: hidden
					position: relative
					z-index: 5
					transition: all .5s ease-in-out
					transform: translateX(50px)
					img
						width: 100%
						height: 100%
						object-fit: contain
				.content
					display: flex
					background-color: #fff
					flex-direction: column
					justify-content: space-between
					position: relative
					z-index: 5
					transition: all .9s ease-in-out
					transform: translateX(50px)
					opacity: 0
			.active
				width: 20%
				.img-wrap
					transform: translateX(0)
				.content
					transform: translateX(0)
					opacity: 1
		.name
			padding: 15px
			font-size: 20px
			text-transform: uppercase
			text-align: left
		.btn-more-link
			// position: absolute
			display: flex
			align-items: center
			margin: 15px
			justify-content: end
			.arr-bg
				margin-left: 15px
		.owl-nav
			.owl-prev,.owl-next
				height: 50px
				width: 50px
				border-radius: 50%
				background-image: url('../img/arr-b-2.svg')
				background-repeat: no-repeat
				background-position: center
				background-color: transparent
				border: 1px solid #000
				&:hover
					background-color: $accent
			.owl-prev
				transform: rotate(180deg)

	// news
	&.sec-4
		.btn-more-link
			display: flex
			align-items: center
			.arr-bg
				background-color: $accent
				margin-left: 15px
				border: none
				.arrow
					background-color: #fff
					&::after, &::before
						background-color: #fff
		.blocks
			display: flex
			gap: 25px
		.left-side
			width: 60%
			.img
				width: 100%
			.news-title
				font-size: 24px
				text-transform: uppercase
				line-height: 1.2em
				margin-bottom: 15px
				a
					color: $accent
			.desc
				font-size: 14px
				margin-bottom: 15px
			.block-bottom
				display: flex
				margin-bottom: 55px
				justify-content: space-between
				align-items: center
				color: #bcbcdb
				.btn-more-link
					color: #bcbcdb

		.right-side
			width: 40%			
			.block
				display: flex
				margin-bottom: 15px
				background-color: #EFEFEF
				max-height: 220px
				gap: 15px
				&:first-child
					display: none
			.img-wrap
				overflow: hidden
				width: 60%
				.img
					width: 100%
					height: auto
			.content
				width: 40%
				padding: 15px
			.news-title
				display: block
				margin-bottom: 15px
				color: $accent
				line-height: 1.2em
	// announcement
	&.sec-5
		padding-bottom: 55px
		.title
			border-bottom: 1px solid $lgray
			margin-bottom: 55px
		.blocks
			display: flex
			flex-wrap: wrap
			gap: 15px
			.block
				width: 32%
				display: flex
				background-color: #EFEFEF
				&:first-child
					width: calc(64% + 15px)
					a
						text-transform: uppercase
						font-size: 20px
				.img-wrap
					width: 30%
					max-height: 130px
					overflow: hidden
					img
						width: 100%
				.content
					padding: 15px
					a
						color: $accent
				.date
					color: $lgray
					margin-top: 15px
				&.last
					border-bottom: none
					a:hover::after
						content: none
	// clubs
	&.sec-6
		padding: 55px 0
		.blocks
			display: flex
			flex-wrap: wrap
			.block
				width: 33%
				a
					display: flex
					align-items: center
				.logo-wrap
					width: 30%
					margin-right: 15px
					img 
						width: 100%

// aqtumar
.aqtumar
	.s-title
		font-size: 30px
		margin-bottom: 40px
		
	.about
		background-color: #EFEFEF
		margin-top: 0!important
		padding: 55px 0
		.s-title

	.goals
		.block-wrap
			background-color: #DBF6E6
			padding: 15px

	.parts
		.block-wrap
			.block
				background-color: #272A2D
				color: #fff
				width: 50%
				display: flex
				&:nth-child(4)
					background-color: #272A2D
				.bg-prog
					width: 50%
					position: relative
				.b-content
					width: 50%
					justify-content: center
					h4
						font-size: 20px
						font-weight: normal
						text-align: center
					a
						position: relative
						padding: 0
						color: #fff
					&.large
						width: 100%
						position: absolute
						background-color: rgba($accent, .9)
	.info
		.block-wrap
			background-color: #F4DBA5
			padding: 15px

	.partscount
		.block-wrap
			display: flex
			justify-content: space-around
			.block
				width: 32%
				border: 3px solid $accent
				text-align: center
				.b-title
					font-size: 30px

	.worktime
		.block-wrap
			.block
				width: 30%
				border-top: 2px solid #D6D6D6
				padding-top: 15px
				font-size: 18px
				.b-title
					font-size: 16px
				p
					margin: 0
					padding-left: 25px

.practice
	.s-title
		font-size: 30px
		margin-bottom: 25px
	.list
		.block-wrap
			.block
				display: flex
				margin-bottom: 55px
				position: relative
				padding-bottom: 25px
				&::after
					content: ''
					width: 30%
					height: 1px
					background-color: #D6D6D6
					position: absolute
					bottom: 0
					left: 0
					right: 0
					margin: 0 auto
				.num
					width: 50px
					height: 50px
					border-radius: 50%
					box-shadow: 0 0 15px rgba($accent, .2)
					text-align: center
					font-size: 30px
					margin-right: 25px
				.content
					width: 60%
					.b-title
						font-weight: bold
					ul
						border-left: 4px solid $accent
						padding-left: 15px
	.block-count
		display: flex
		flex-direction: row
		text-align: center
		align-items: center
		border-radius: 5px
		overflow: hidden

		.item
			padding: 10px
		.left
			background-color: #EFEFEF
		.red
			background-color: #FFECEC
		.green
			background-color: #EFFFEE
		.name
			font-size: 16px
		.text
			font-size: 28px

.handbook
	.s-title
		font-size: 30px
		margin-bottom: 30px
	.section.sec-2 .block-wrap
		.block
			background-color: $accent
			width: 50%
			display: flex
			.b-content
				width: 50%
				font-size: 22px
				h4
					font-size: 22px
					text-transform: uppercase
				a
					position: relative
					padding: 0
					color: #fff
			img
				position: relative
				width: 50%
			&.color
				background-color: $gray
				color: #fff
				.b-content
					width: 100%
			&.large
				width: 100%
				height: auto
				.b-content
					width: 25%
				img
					width: 75%
			



@keyframes fadeInUp
	0%
		opacity: 0
		-webkit-transform: translate3d(0, 70px, 0)
		-ms-transform: translate3d(0, 70px, 0)
		transform: translate3d(0, 70px, 0)

	100%
		opacity: 1
		-webkit-transform: none
		-ms-transform: none
		transform: none

.fadeInUp
	-webkit-animation-name: fadeInUp
	animation-name: fadeInUp

// mmenu2
.mm-panels > .mm-panel
	background-color: rgba(#000, 1)
	a
		color: #fff
		// font-size: 24px
		padding: 25px 15px
.mm-listview > li:not(.mm-divider):after
	border-color: #eee
.mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after
	border-color: rgba(#fff, .6)
.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after
	border-color: rgba(#fff, .6)


// AI Sana

.ai-sana
	.slider-wrap
		height: 650px
		color: #fff
		background-size: cover
		margin-bottom: 55px
		position: relative
		background-repeat: no-repeat
		.content
			position: absolute
			top: 30%
			left: 0
			right: 0
			width: 70%
			margin: 0 auto
			text-align: center
			.title
				font-size: 54px
				font-family: "Philosopher", sans-serif
			.desc
				font-size: 22px
	.ai-agents
		padding: 55px 0
		.block-wrap
			display: flex
			flex-wrap: wrap
			gap: 15px
			.block
				width: calc(33.333% - 15px)
				border: 4px solid $accent
				padding: 15px
				position: relative
				padding-top: 70px
				.b-title
					font-size: 24px
					font-weight: bold
					color: $accent
			.status
				position: absolute
				top: 15px
				left: 15px
				background-color: #e7e419
				color: #000
				border-radius: 15em
				padding: 5px 25px




//ALWAYS END
@import "media"
