@import "vars.sass"

.section .title
	line-height: 1em
// pages
.header.page
	background-color: $accent
	padding: 0
	.search-wrap
		background-color: $gray
	.mainMenu #menuToggle
		background-color: $gray

.page
	.section
		margin-top: 55px

.bradcrumbs
	vertical-align: middle
	background-size: cover
	position: relative
	overflow: hidden
	&.bg-img
		background-color: $accent
		&::after
			content: ''
			background: rgb(0,0,0)
			background: linear-gradient(6deg, rgba(0,0,0,6) 0%, rgba(0,0,0,0) 100%)
			width: 100%
			position: absolute
			top: 0
			left: 0
			height: 100%
			z-index: 1
		.bradcrumbs-wrap		
			height: 300px
			color: #fff
			a
				color: #fff
			ul
				padding: 0
				li::after
					background-image: url('../img/arr.png')
	.bradcrumbs-wrap
		display: flex
		flex-direction: column
		justify-content: flex-end
		z-index: 2
		position: relative
		color: $accent
		a
			color: $accent
			font-size: 18px
		ul
			padding: 50px 0
			li
				display: inline-block
				position: relative
				margin-right: 25px
				&::after
					content: ''
					position: absolute
					width: 30px
					height: 30px
					background-image: url('../img/arr-color.png')
					background-repeat: no-repeat
					background-size: cover
				&:last-child
					&::after
						content: none
		.h-title
			font-size: 42px
			display: block
			width: 100%
			margin-bottom: 25px
			line-height: 1em

.clearfix
	clear: both

.tabs-wrap
	position: relative
	width: 100%
	margin-top: 60px
	.tab-header
		display: flex
		position: relative
		align-items: center
		height: 60px
		z-index: 2
		margin-top: -60px
		> div
			width: 25%
			text-align: center
			cursor: pointer
			transition: color 300ms ease-in-out
			&.active
				color: #000
	.tab-indicator
		position: relative
		height: 60px
		margin-top: -60px
		&::after
			content: ''
			position: absolute
			bottom: 0
			width: 100%
			border-bottom: 4px solid $lgray
		> div
			position: absolute
			left: 0
			width: 25%
			height: 100%
			border-bottom: 4px solid $accent
			transition: all 300ms ease-in-out
			z-index: 2
	.tab-body
		position: relative
		> div
			position: absolute
			width: 100%
			padding: 20px 0
			opacity: 0
			top: -100vh
			z-index: -1
			h4, p
				padding: 15px 0
			> *
				margin: 10px
			&.active
				top: 0
				z-index: 1
				opacity: 1
				position: relative
				transition: top 0ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms

.bg-color
	background-color: $lgray
	padding: 55px 0

.admission-usefull
	.title
		margin-bottom: 40px
	.blocks-wrap
		display: flex
		.block
			width: 33%
			padding: 15px
			&:first-child
				padding-left: 0
			&:last-child
				padding-right: 0
			.img-wrap
				position: relative
				overflow: hidden
				.b-title
					position: absolute
					text-align: center
					margin: auto
					font-weight: 700
					top: 40%
					left: 0
					right: 0
					width: 100%
					color: #fff
					font-size: 24px
				img
					width: 100%
					height: 100%					
			.content
				background-color: #fff
				padding: 15px
			.programms-list
				a
					font-weight: 600
			.btn-more-link
				font-size: 14px
				display: flex
				justify-content: end
				margin-top: 25px
				.arr-bg
					transform: scale(.6) rotate(45deg)
					// width: 35px
					// height: 35px
					margin-left: 15px

.admission-info				
	.programm-list
		background-image: url('../img/bg-bachelor-list.jpg')
		background-size: cover
		width: 80%
		margin: 55px auto
		> li
			border-top: 7px solid #fff
			border-bottom: 7px solid #fff
			background: linear-gradient(90deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,0) 100%)
			position: relative
			// transition: all .5s ease
			&:hover
				background: #fff
				a
					color: $gray
			a
				text-decoration: none
				display: block
				padding: 35px
				color: #fff
				font-weight: 600
				font-size: 20px
	.admis-popup
		.btn-pop-close
			cursor: pointer
			background-color: #fff
			position: absolute
			right: 35px
			top: 35px
			z-index: 3
		ul
			list-style-type: none
			padding: 0
			margin: 0
			li
				border-bottom: 1px solid #dadada
				background: #fff
				position: relative
				&::after
					content: ''
					background-image: url('../img/icon/arrow.svg')
					background-size: cover
					width: 17px
					height: 17px
					position: absolute
					right: 15%
					top: 20px
				&:hover
					a
						color: $accent
				a
					color: $accent
					padding: 20px
					font-weight: 600
					display: block

.program-head
	.p-code
		text-align: right
		span
			font-weight: 700
	.p-title
		font-size: 32px
		line-height: 1em
		font-weight: 500
		margin: 55px 0
	.btn-color-link
		background-color: $accent
		color: #fff
		display: block
		padding: 10px 25px
		text-align: center
		text-decoration: none
		transition: all .2s ease
		&:hover
			background-color: darken($accent, 10%)
	.img-wrap
		img
			width: 100%

.program-info

.program-faq
	.accordion-wrap
		margin-top: 55px
		.p-name
			border-bottom: 1px solid #c0c0c0
			padding: 15px
			cursor: pointer
			padding-left: 35px
			position: relative
			&::before
				content: ''
				position: absolute
				width: 20px
				height: 20px
				background-image: url('../img/icon/plus.svg')
				background-repeat: no-repeat
				background-size: cover
				left: 0
		.p-content
			padding: 15px

.counts
	text-align: center
	.num
		font-size: 32px
		color: $gold
		font-weight: 600
		margin-top: 35px
	p
		margin: 0
		font-weight: 500

.contacts
	.title
		margin-bottom: 40px
	.contact-wrap
		width: 90%
		margin: auto
		p
			img
				margin-right: 10px
		span
			margin-left: 10px
			font-size: 12px
			color: #828282

.footer
	background-color: $gray
	color: #fff
	padding-top: 30px
	a
		color: #fff
	.title
		color: #fff
	.b-center
		text-align: center
	.block-logo
		display: flex
		margin: 0 0 45px
		img
			width: 80px
			height: 80px
		p
			width: 250px
			text-align: left
			padding-left: 15px
			margin: 0
	.contact-block
		p
			margin: 0
		a
			color: $gold
	.copy
		text-align: center
	.bottomMainMenu
		ul
			width: 100%
			li
				width: 24%
				vertical-align: top
				display: inline-block
				a
					font-size: 16px
					font-weight: 600
				ul
					li
						width: 100%
						padding: 0 15px
						a
							font-size: 14px
							font-weight: 400
					ul
						display: none


// media
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1440px)

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.admission-usefull 
		.blocks-wrap 
			flex-wrap: wrap
			.block
				width: 50%

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.section.sec-2 
		.block-wrap 
			.block
				width: 50%
	.tabs-wrap 
		.tab-header
			overflow-y: scroll
			> div
				width: auto
				text-wrap: nowrap
				padding: 0 15px
				padding-left: 25px
				position: relative
				.icon
					background-image: url('../img/icon/tabs.svg')
					background-repeat: no-repeat
					background-size: cover
					width: 20px
					height: 20px
					position: absolute
					left: 0
			
	.admission-usefull 
		.blocks-wrap
			.block
				width: 100%
	
	.admission-info 
		.programm-list
			width: 90%
		.admis-popup
			padding: 0
			.btn-pop-close
				right: 5px
				top: 5px
			ul li::after
				right: 5%
	.program-head .p-title
		margin: 25px 0

	.footer .bottomMainMenu ul li
		width: 100%

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.bradcrumbs .bradcrumbs-wrap .h-title
		font-size: 32px
	.admission-info 
		.programm-list
			width: 100%

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
